.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px 0;
  background-color: $black;
  &--nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        padding: 20px;
        a {
          font-size: 16px;
          color: $white;
          font-family: $font-family-semibold;
        }
      }
    }
  }
}
